<% include ../partials/header %>


<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Unicornsity!</h1>
            <p>View our hand-picked universities from all over the world</p>
            <p><a class="btn btn-primary btn-lg" href="/universities/new">Add New University</a></p>
        </div>
    </header>
    
    <div class="card mb-1">
        <h4 class="card-header">Site Instruction</h4>
        <div class="card-body">
            
            <p>Only logged in user can post, edit, delete their own university and comment. Admin can post, edit, delete all the posts and comments. New user needs to provide admin code when signing up to become an admin, otherwise just normal user.</p>
            <p>Test Account:</p>
            <p>username/password: user1/user1; user2/user2; admin/admin</p>
        </div>
    </div>
  

    <div class="row text-center">
    
        <% universities.forEach(function(university){ %>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card" id="index-img">
                <img class="card-img-top" src="<%=university.image %>" alt="<%=university.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%=university.name %></h5>
                    <a href="/universities/<%=university._id %>" class="btn btn-primary">More info</a>
                </div>
            </div>
            
        </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>